.centered {
    position: absolute;
    top: 200px;
    left: 335px;
    color: white;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.section_2{
    background-color: lightgray;
    width: 850px;
    height: 324px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    display:flex;
    justify-content: space-between;
    
}
.column{
    width: 270px;
    margin: 20px;

}
h1{
    font-weight: bold;
    font-size: 20px;
    
}
h2{
    font-weight: bold;
    font-size: 20px;

}
h3{
    font-weight: bold;
    font-size: 20px;
    /* There's something off about my h3 that I can't figure out
    It's a few pixels lower than h1 & h2
    My column is also a few pixels wider
    I think it may be the justify-content rounding to whole numbers */
}
div{
    padding: 2px;
}
input[type=text] {

    width: 240px;
   
    
}
textarea{
    width: 240px;
    height: 100px;
    max-width: 240px;
    min-width: 240px;
    max-height: 100px;
    min-height: 100px;
}
button{
    background-color: gray;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    width: 75px;
}
